body
    margin: 0
    padding: 0
    font-family: 'Roboto', sans-serif;
    --bg-gray: #F2F2F2;

.container
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 7px;

p
    margin: 0;

h2
    font-family: Bebas Neue;
    font-size: clamp(22px, 7vw, 30px);
    font-weight: bold;
    color: #000;
    text-align: center;
.heading_h1
    font-size: clamp(24px, 3vw, 48px)
    font-weight: bold
    line-height: 0.9em
    font-family: Bebas Neue
    text-align: center
    text-transform: uppercase
    margin-bottom: min(25px, 1em)


@font-face 
    font-family: Bebas Neue;
    src: url("/fonts/BebasNeueBold.otf");
    font-weight: bold;

.button 
    background-color: #55CB7E
    color: #fff
    font-size: 16px
    cursor: pointer
    font-weight: bold
    display: inline-block
    &_medium
        padding: 6px 18px
        border-radius: 16px
    &_bold 
        font-size: 20px;
        font-weight: bold;
        padding: 15px 25px;
        border-radius: 25px;    
        
        