.ex-tp 
    margin-bottom: 20px 
    & h1 
        font-size: 48px;
        font-family: Bebas Neue;
        font-weight: bold;
        text-align: center;
        line-height: .8em;
        @media(max-width: 790px)
            font-size: clamp(28px, 6vw, 48px);    
    &__configs 
        display: flex;
        justify-content: space-between;
        @media(max-width: 790px)
            flex-direction: column;
            align-items: center;       
    &_block 
        color: #fff;
        font-weight: 500;
        margin-bottom: 20px;
        line-height: .8em;
        background-color: #3B4360;
        @media(max-width: 790px) 
            margin-bottom: clamp(7px, 2vw, 20px);
            & .buttom
                margin-top: clamp(15px, 4vw, 30px);
                padding: clamp(11px, 3vw, 15px) clamp(21px, 5vw, 25px);           
        & > *
            box-sizing: border-box;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;     
            &:nth-child(2n)
                background-color: #4A5375;  
        &-sh 
            font-family: Bebas Neue;
            font-size: 30px;
            font-weight: bold;
            line-height: .8em;
            @media(max-width: 790px)
                font-size: clamp(22px, 6vw, 30px);    
        &-wrapper 
            width: 100%;
            max-width: calc(50% - 10px);  
            @media(max-width: 790px)
                max-width: 600px;   
        &-el  
            @media(max-width: 790px)
                font-size: clamp(13px, 4vw, 16px);               
        &-el_price       
            & > p 
                font-size: 24px;
                font-weight: bold; 
                @media(max-width: 790px)
                    font-size: clamp(20px, 5vw , 24px);       
        &-pay 
            flex-direction: column;
            align-items: flex-start;   
            & > .button 
                margin-top: 30px;         
        &-shPay 
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 15px;   
            @media(max-width: 790px)
                font-size: clamp(18px, 3vw, 20px);    
        &-shtext
            font-size: 18px;
            line-height: 1.48em;    
        &-el_tf 
            padding-top: 8px;
            padding-bottom: 12px;       





.toggleFull
    width: 115px;
    height: 30px;
    display: flex;
    overflow: hidden;
    border-radius: 16px;
    background-color: #fff;
    @media(max-width: 790px)
        width: clamp(80px, 20vw, 115px);
        height: clamp(20px, calc(20vw - 80px), 30px);   
        &_vw
            line-height: clamp( 20px, calc(20vw - 80px) , 30px);
        &__but
            width: clamp(18px, 6vw, 26px);           
    &__but
        background-position: 50%
        cursor: pointer
        width: 26px
        background-repeat: no-repeat
        height: 100%
        background-color: #55CB7E
    &_vw
        color: #000;
        line-height: 30px;
        text-align: center;
        font-weight: 500;
        flex-grow: 1;   
    &__inc 
        background-image: url('/images/tai.png');           
    &__dec 
        background-image: url('/images/tad.png'); 

.toggle
    width: 35px;
    display: flex;
    height: 20px;
    transition-duration: .5s;
    align-items: center;
    cursor: pointer;
    background-color: #000;
    border-radius: 16px;
    & > div 
        margin-left: 2px;
        margin-right: 2px;
        height: 16px;
        width: 16px;
        border-radius: 16px;
        background-color: #fff;
    &_active 
        background-color: #55CB7E;
        & > div 
            margin-left: calc(100% - 18px);

