footer 
    background-color: var(--bg-gray)
    box-sizing: border-box
    padding-top: clamp(20px, 5vw, 40px)
    padding-bottom: clamp(30px, 7vw, 50px)

.footer 
    justify-content: space-between;
    display: flex;  
    @media (max-width: 1120px)
        flex-wrap: wrap; 
    @media (max-width: 900px)
        flex-direction: column      
    & > div 
        width 100% 
        @media (max-width: 900px)
            margin: 7px auto;
    &__about 
        max-width 332px
        @media (max-width: 1120px)
            max-width: 190px;    
        & p 
            font-weight: 400
            margin-top: 20px 
    &__nummber 
        max-width: 390px;
        display: flex;      
        @media (max-width: 1120px)
            flex-direction: column
            max-width: 305px    
            & p a 
               font-size: 16px; 
        &-tels 
            flex-grow: 1;
            margin-left: 7px;
        &-sh 
            font-size: 14px;
            font-weight: 400;    
        &-tel 
            font-weight: 400 
            display: flex 
            & a  
                font-size: 18px
                font-weight: 400
                text-decoration: none
                color: #000
                & span 
                    color: #677AB0
            & > span 
                display: inline-block
                width: 145px
                font-weight: 400
                font-size: 14px
                margin-left: auto
    &__photos 
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        max-width: 150px;                
        & >img:first-child 
            margin-bottom: 10px
    &__pay 
        max-width: 170px
        &-mess 
            display: flex;
            justify-content: space-between;        
            & a 
                display: block;
                max-width: 40px;  
                & img
                    width: 100%;
                    display: block;
        &-sh 
            margin-top: 39px;
            font-weight: bold;
            margin-bottom: 14px; 
        &-pall 
            justify-content: space-between;
            align-items: center;
            display: flex;                       










