.note-text
    color: #fff;
    font-weight: 500;
    font-size: clamp(15px, 2vw, 24px);
    background-color: #4D77B6;
    text-align: center;
    padding: clamp(20px, 3vw, 30px) clamp(7px, 3vw, 15px);
    margin: 30px auto;
    &_smpad
        padding: 20px clamp(7px, 3vw, 15px) 15px;
    &-wrapper 
        display: flex;
        background-color: #3B4360;    
        &_mf 
            margin-top: -40px;
        &_md
            margin-bottom: clamp(25px, 7vw, 60px);                  