.page-text
    display: flex
    @media (max-width: 920px)
        flex-direction: column
    &-wrapper
        background-image: url('/images/bgnote.png')
        padding: 20px 0
        box-sizing: border-box
        background-size: 100% 100%
        background-repeat: no-repeat
    &__category 
        margin: 0 10px
        color: #fff
        font-size: 16px
        max-width: 50%
        font-weight: 500
        @media (max-width: 920px)
            max-width: 100%
        &_info 
            & p
                margin: 17px 0
        &_new 
            & p         
                margin: 23px 0
            & span 
                margin-bottom: 5px
                font-size: 14px
                font-style italic
                display: inline-block
        & h2 
            color: #fff
            font-size: 30px
            margin: 25px 0
            font-weight: bold
            font-family: Bebas Neue
            text-align: left
            @media (max-width: 640px)
                font-size: 26px
                margin: 1em 0
        @media (max-width: 640px)
            & p 
                font-size: 14px
                margin: 1em 0  