.spec-off
    &__items 
        margin-bottom: clamp(25px, 5vw, 40px)
        display: flex
        justify-content: space-between
        @media (max-width: 1120px)
            flex-wrap: wrap
            justify-content: space-around
        @media (max-width: 520px)
            flex-direction: column
            align-items: center    
    &__item 
        max-width: 290px
        box-sizing: border-box
        padding: 35px 20px 20px
        margin: 0 5px 10px
        background-color: #3B4360
        @media (max-width: 1120px)
            max-width: 48%;
            width: 100%;
        @media (max-width: 520px)
            max-width: 300px     
        &-title 
            color: #55CB7E
            font-size: clamp(38px, 10vw, 64px)
            margin-bottom: .4em
            line-height: .8em
            font-weight: bold
            font-family: Bebas Neue
        &-desc 
            font-size: 15px
            color: #fff
            font-weight: 500
