-
    var navLink = [
        {
            title: 'Хостинг',
            dropLink: [
                {link: '#', title: 'Безлимитный хостинг'},
                {link: '#', title: 'CMS-тарифы'},
                {link: '#', title: 'VIP-тарифы'},
                {link: '#', title: 'Тарифы для реселлеров'}
            ]
        },
        {
            title: 'VPS-cерверы'
        },
        {
            title: 'Аренда выделенных серверов'
        },
        {
            title: 'Домены'
        },
        {
            title: 'Другие услуги'
        },
        {
            title: 'Форум'
        },
        {
            title: 'О компании'
        }
    ]




header(class='header')
    div(class='container headInfo')
        img(class='headInfo__logo' src='/images/logo.png' alt='logo')
        div(class="headInfo__support-list")
            p(class="headInfo__support-title") Служба поддержки работает онлайн круглосуточно
            img(src="/images/supportIcon.png" class="headInfo__support-icon" alt="icon drop list")    
        div(class="headInfo__phone")
            div(class="headInfo__support-list")        
                p(class="headInfo__support-title") Россия
                img(src="/images/supportIcon.png" class="headInfo__support-icon" alt="icon drop list")       
            a(class="headInfo__phone-number" href="tel:8 800 505-93-34") 8 800 505-93-34
        div(class="headInfo__reg")
            p(class="headInfo__reg_register") Регистрация
            p / 
            p(class="headInfo__reg_open") Вход   
    nav(class="navigate-wrapper")
        div(class="navigate container")    
            each val in navLink
                div(class="navigate__item")
                    p #{val.title}
                    ul(class="navigate__drop")
                        if val.dropLink
                            each di in val.dropLink
                                li=di.title
                   
                        
                
                        
          
