
mixin pageText()
    div.page-text-wrapper
        div.page-text.container 
            div.page-text__category.page-text__category_info
                h2 Текстовый блок
                p Скрытые платежи отсутствуют. При продлении на срок от шести месяцев — дополнительные скидки.
                p Манибэк — 30 дней
                p В течение первого месяца пользования вы можете отказаться от наших услуг и вернуть всю сумму, внесенную за оплату хостинга. (Без учета комиссии за перевод.)
                p * Вы можете заказать тестовый месяц хостинга бесплатно и без предоплаты, если у вас есть собственное доменное имя или персональный аттестат WebMoney.
            div.page-text__category.page-text__category_new
                h2 ПОСЛЕДНИЕ НОВОСТИ
                p
                    span 30.03.2020
                    |<br>
                    |Работаем в штатном режиме 24/7 в дни карантина Covid-19