.header
  background-color #F7FAFC;
  &__container
    align-items center
    display flex
  &__logo
    display block
    width 182px
    margin-right auto
    height 36px
    background-size 100% 100%
    background-repeat no-repeat
    background-image url("./../../public/images/logo.svg")
  & nav
    display flex
    & a
      margin-right 64px
      font-weight 700
      text-decoration none
      font-size 1rem
      color #3D3C69;
      &.active
        border-bottom: 2px dashed #4DCCBD;
        padding-bottom 2px
