div.main-preview
  display grid
  grid-template-columns 615px 360px
  justify-content space-between
  box-sizing border-box
  padding-top 60px
  padding-bottom 170px
  &__info
    margin-top 60px
    & p
      font-size: 20px;
      margin 32px 0 50px 0
      line-height: 24px;