.order-services
  margin-bottom clamp(50px, 10vw, 109px)
  display flex
  background-image url("./../../public/images/aboutMessages.svg")
  background-repeat no-repeat
  background-position right center
  &__wrapper
    overflow hidden
  &__content
    background: #F7FAFC;
    margin-right auto
    --border-radius clamp(26px, 3vw, 56px)
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    max-width 440px
    position: relative;
    padding clamp(15px, 7vw, 72px) clamp(30px, 10vw, 112px)
    padding-left 0
    &:after
      content ''
      display block
      left 0
      top 0
      background-color inherit
      position: absolute;
      width 50vw
      height 100%
      transform translateX(-100%)
  &__description
    font-size: 1rem;
    line-height: 1.3rem;
    color: #3D3C69;
    font-weight 400
    margin clamp(15px, 2vw, 25px) 0 clamp(25px, 3vw, 45px)
  & form
    display grid
    gap clamp(15px, 2vw, 24px)