extends ./../layout/main.pug 
include ./../includes/category-tariff.pug
include ./../includes/testDomain.pug
include ./../includes/advantages.pug
include ./../includes/specOff.pug
include ./../includes/pageText.pug


block variable 
    - var title = 'RuWeb — купить хостинг для сайта | От 50 рублей в месяц'


block content 
    -
        var cards = [
            {
                imgSrc: "/images/cardtop.png",
                titlte: "Виртуальный хостинг",
                price: "от 50 ₽",
                description: "Попробуйте гибкие тарифы без ограничения трафика"
            },
            {
                imgSrc: "/images/cardtop.png",
                titlte: "VDS-серверы",
                price: "от 169 ₽",
                description: "Наши VDS — это виртуальный аналог физического сервера под управлением системы виртуализации KVM."
            },
            {
                imgSrc: "/images/cardtop.png",
                titlte: "CMS-хостинг",
                price: "от 115 ₽",
                description: "Тарифы, подготовленные специально под требования хостинга для CMS."
            },
            {
                imgSrc: "/images/cardtop.png",
                titlte: "VIP-хостинг",
                price: "от 289 ₽",
                description: "Больше дискового пространства и полностью неограниченный трафик."
            },
            {
                imgSrc: "/images/cardtop.png",
                titlte: "Аренда сервера",
                price: "от 4850 ₽",
                description: "Персональный сервер — это конфиденциальность и надежная защита информации 24 часа в сутки."
            }
        ]
    +categoryIndex(cards)

    -
        var domains = [
            { title: '.ru', isActive: false},
            { title: '.com', isActive: false},
            { title: '.рф', isActive: false},
            { title: '.net', isActive: true},
            { title: '.su', isActive: false},
            { title: '.org', isActive: false},
            { title: '.ru', isActive: false},
            { title: '.tv', isActive: true},
            { title: '.pro', isActive: false},
            { title: '.info', isActive: false},
            { title: '.mobi', isActive: false},
            { title: '.name', isActive: false}
        ]
    +testDonain(domains)    

    -
        var advant = {
            title: 'Преимущества RuWeb',
            items: [
                {img: '/images/ad1.png', description: 'Техническая поддержка работает онлайн 24/7.'},
                {img: '/images/ad2.png', description: 'Дата-центр в России.'},
                {img: '/images/ad3.png', description: 'Защита веб-сайтов от DDOS-атак.'},
                {img: '/images/ad4.png', description: 'SSL-сертификаты (Let`s Encrypt, Comodo, Comodo, GeoTrust).'},
                {img: '/images/ad5.png', description: 'Лицензии на панели управления.'}
            ]
        }
    +advantages(advant)    

    -
        var sp = [
            {title: '1500 руб.', description: 'Бонус при продлении услуги хостинга на сумму более 1500 ₽'},
            {title: '6 месяцев', description: 'При продлении на срок от 6 месяцев — дополнительные скидки.'},
            {title: '30 дней', description: 'Манибэк — 30 дней. <br><br> В течение первого месяца вы можете отказаться от наших услуг и вернуть всю сумму, внесенную за оплату хостинга (без учета комиссии за перевод).'},
            {title: '1 месяц', description: 'Вы можете заказать тестовый месяц хостинга бесплатно и без предоплаты, если у вас есть собственное доменное имя или персональный аттестат WebMoney.'}
        ]
    +specOff(sp)

    +pageText()